<!--
* This file is part of ARSnova Click.
* Copyright (C) 2016 The ARSnova Team
*
* ARSnova Click is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* ARSnova Click is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with ARSnova Click.  If not, see <http://www.gnu.org/licenses/>.-->

<template name="footerNavButtons">
	<div class="fixed-bottom col-xs-12 col-sm-10 col-sm-offset-1 col-lg-6 col-lg-offset-3" role="navigation">
		<div class="row">
            {{#if backButton}}
                <div class="col-xs-12 col-sm-{{#if forwardButton}}6{{else}}12{{/if}} fixed-bottom-item">
                    <button id="{{backButton.id}}"
                            data-intro="{{#if backButton.intro}}{{_ backButton.intro}}{{/if}}"
                            class="button button-back tabbable">
                        <span class="glyphicon glyphicon-arrow-left glyph-left" aria-hidden="true"></span>
                        <span class="fixed-bottom-item-text">{{#if backButton.text}} {{_ backButton.text }} {{else}} {{_ 'global.back' }} {{/if}}</span>
                    </button>
                </div>
            {{/if}}
            {{#if forwardButton}}
                <div class="col-xs-12 col-md-{{#if backButton}}6{{else}}12{{/if}} fixed-bottom-item">
                    <button id="{{forwardButton.id}}"
                            data-intro="{{#if forwardButton.intro}}{{_ forwardButton.intro}}{{/if}}"
                            class="button button-next tabbable">
                        <span class="fixed-bottom-item-text">{{#if forwardButton.text}} {{_ forwardButton.text }} {{else}} {{_ 'global.next' }} {{/if}}</span>
                        <span class="glyphicon glyphicon-arrow-right glyph-right" aria-hidden="true"></span>
                    </button>
                </div>
            {{/if}}
		</div>
	</div>
</template>
