<template name="memberlistFooterNavButtons">
    <div class="fixed-bottom col-xxs-12 col-xs-12 col-sm-10 col-sm-offset-1 col-lg-6 col-lg-offset-3" role="navigation">
        <div class="row">
            {{#if hasTooMuchButtons}}
                <div class="col-xs-12 col-sm-{{#if isOwner}}4{{else}}12{{/if}}">
                    {{#if hasOverridenDefaultButtonCount }}
                        <button class="button button-success tabbable"
                                id="showLess">
                            <span class="ansBtn">{{_ "view.leaderboard.show_less"}}</span>
                            <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                        </button>
                    {{else}}
                        <button class="button button-success tabbable"
                                id="showMore">
                            <span class="ansBtn">{{_ "view.leaderboard.show_more" invisibleLearnerCount count=invisibleLearnerCount}}</span>
                            <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                        </button>
                    {{/if}}
                </div>
            {{/if}}
            {{#if isOwner}}{{#if hasPlayers}}
                <div class="col-xs-12 col-sm-{{#if hasTooMuchButtons}}6{{else}}12{{/if}}">
                    <button id="startPolling"
                            class="button button-next button-start tabbable">
                        {{_ "view.lobby.start_quiz" }}
                        <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                    </button>
                </div>
            {{/if}}{{/if}}
        </div>
    </div>
</template>
