<!--
* This file is part of ARSnova Click.
* Copyright (C) 2016 The ARSnova Team
*
* ARSnova Click is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* ARSnova Click is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with ARSnova Click.  If not, see <http://www.gnu.org/licenses/>.-->

<template name="kickMemberSplashscreen">
	<div class="modal splashscreen" role="dialog">
		<div class="modal-dialog">
            <div class="noSplashscreenPadding">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>{{{_ "view.lobby.kick_member_confirmation"}}}</h2>
                        <div class="splashscreen-container-close" aria-label="{{_ "global.close_window"}}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
                    </div>
                    <div class="modal-body">
                        <input type="checkbox"
                               id="ban-nick"
                               aria-labelledby="ban-nick-label"
                               title="{{_ "view.lobby.add_kicked_member_to_ban_list"}}"
                               class="tabbable"/>
                        <label id="ban-nick-label">{{_ "view.lobby.add_kicked_member_to_ban_list"}}</label>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 margin-bottom">
                                <button id="closeDialogButton"
                                        aria-label="{{_ "view.lobby.no"}}"
                                        class="button button-back tabbable">
                                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                                    <span>{{_ "view.lobby.no"}}</span>
                                </button>
                            </div>
                            <div class="col-xs-12 col-sm-6 margin-bottom">
                                <button id="kickMemberButton"
                                        aria-label="{{_ "view.lobby.yes"}}"
                                        class="button button-next tabbable">
                                    <span>{{_ "view.lobby.yes"}}</span>
                                    <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</template>
