<!--
* This file is part of ARSnova Click.
* Copyright (C) 2016 The ARSnova Team
*
* ARSnova Click is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* ARSnova Click is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with ARSnova Click.  If not, see <http://www.gnu.org/licenses/>.-->

<template name="renameHashtagSplashscreen">
	<div class="modal splashscreen" role="dialog">
		<div class="modal-dialog">
            <div class="noSplashscreenPadding">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>{{{_ "view.hashtag_management.import"}}}</h2>
                        <div class="splashscreen-container-close" aria-label="{{_ "global.close_window"}}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
                    </div>
                    <div class="modal-body">
                        {{#if isArsnovaImport}}
                            <p>{{_ "plugins.splashscreen.error.error_messages.session_exists_arsnova_import"}}</p>
                        {{else}}
                            <p>{{_ "plugins.splashscreen.error.error_messages.session_exists_warning"}}</p>
                            <p>{{_ "plugins.splashscreen.error.error_messages.session_exists_new"}}</p>
                        {{/if}}
                        <div class="form-group">
                            <input type="text"
                                   class="input-field round-corners hashtag-field text-center tabbable"
                                   id="hashtagRename-input-field"
                                   aria-multiline="false"
                                   placeholder="{{_ "view.hashtag_management.enter_quiz_name" }}"
                                   aria-label="{{_ "view.hashtag_management.enter_quiz_name" }}"
                                   maxlength="{{getHashtagSchema.max}}" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 margin-bottom">
                                <button id="js-btn-closeRenameHashtag"
                                        aria-label="{{_ "global.abort"}}"
                                        class="btn button-back btn-lg btn-answerOption tabbable"
                                        type="button">
                                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                                    <span class="hidden-xs ansBtn">{{_ "global.abort"}}</span>
                                </button>
                            </div>
                            <div class="col-xs-12 col-sm-6 margin-bottom">
                                <button id="js-btn-importSession"
                                        type="button"
                                        aria-label="{{_ "global.save"}}"
                                        disabled="disabled"
                                        class="btn btn-info btn-lg btn-answerOption tabbable">
                                    <span class="glyphicon glyphicon-ok glyph-left" aria-hidden="true"></span>
                                    <span class="hidden-xs ansBtn">{{_ "global.save"}}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</template>
