<!--
* This file is part of ARSnova Click.
* Copyright (C) 2016 The ARSnova Team
*
* ARSnova Click is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* ARSnova Click is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with ARSnova Click.  If not, see <http://www.gnu.org/licenses/>.-->

<template name="deleteConfirmationSplashscreen">
	<div class="modal splashscreen" id="{{instanceId}}" role="dialog">
		<div class="modal-dialog">
            <div class="noSplashscreenPadding">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 role="heading">{{_ "view.hashtag_management.delete_session"}}</h2>
                        <div class="splashscreen-container-close" aria-label="{{_ "global.close_window"}}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
                    </div>
                    <div class="modal-body">
                        <p>{{{_ "view.hashtag_management.delete_session_confirmation" }}}</p>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 margin-bottom">
                                <button id="closeDialogButton"
                                        aria-label="{{_ "region.header.no"}}"
                                        class="button button-back tabbable">
                                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                                    <span>{{_ "region.header.no"}}</span>
                                </button>
                            </div>
                            <div class="col-xs-12 col-sm-6 margin-bottom">
                                <button id="deleteSessionButton"
                                        aria-label="{{_ "region.header.yes"}}"
                                        class="button button-next tabbable">
                                    <span>{{_ "region.header.yes"}}</span>
                                    <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</template>
