<!--
* This file is part of ARSnova Click.
* Copyright (C) 2016 The ARSnova Team
*
* ARSnova Click is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* ARSnova Click is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with ARSnova Click.  If not, see <http://www.gnu.org/licenses/>.-->

<template name="translate">
	<div class="row center-vertical">
		<div class="col-xs-12">
			{{#if i18n_enabled}}
				<div class="row" role="list">
					{{#each i18n_sortedLanguages }}
						<div class="col-xs-12 col-md-6 margin-bottom available_translations" role="listitem">
							<button type="button"
                                    id="translation_{{this.tag}}"
									class="button btn{{#if i18n_isCurrentLanguage this.tag}} selectedLanguageButton button-success{{else}} button-grey{{/if}} tabbable"
							>{{this.name}}</button>
						</div>
					{{/each}}
				</div>
			{{ else }}
				<p>{{_ "view.translation.i18n_currently_not_available"}}</p>
			{{/if}}
		</div>
	</div>
	{{> footerNavButtons backId="backButton" }}
</template>
