<!--
* This file is part of ARSnova Click.
* Copyright (C) 2016 The ARSnova Team
*
* ARSnova Click is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* ARSnova Click is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with ARSnova Click.  If not, see <http://www.gnu.org/licenses/>.-->

<template name="defaultAnswerOptionTemplate">
    <div class="row full-screen-content">
        <div id="editAnsweroptionText" class="col-xs-12 col-md-6 margin-bottom">
            <div class="row answer-options distance-top">
                <div class="col-xs-12">
                    {{#if canAddAnsweroption}}
                        <div class="row">
                            <div class="col-xs-12">
                                <div id="default_answer_row" class="answerOptionElementWrapper tabbable draggable" data-intro="{{_ "view.answeroptions.description.default_answer_row"}}" data-step="2" aria-label="{{_ "view.answeroptions.description.default_answer_row"}}">
                                    <p class="answer_row_default_text">{{_ "view.answeroptions.new_answer"}}</p>
                                </div>
                            </div>
                        </div>
                    {{/if}}
                    <div class="row">
                        <div id="answerOptionWrapper" class="col-md-12" data-intro="{{_ "view.answeroptions.description.added_answers"}}" data-step="1" role="list" aria-label="{{_ "view.answeroptions.description.added_answers"}}"></div>
                    </div>
                </div>
                <div class="col-xs-12 answerOptionConfig" data-intro="{{_ "view.answeroptions.description.show_answer_content_on_buttons"}}">
                    <p class="text-light checkboxLabel" id="showAnswerContentOnButtons">{{_ "view.answeroptions.show_answer_content_on_buttons"}}</p>
                    <input type="checkbox"
                           id="config_showAnswerContentOnButtons_switch"
                           aria-label="{{_ "view.answeroptions.description.show_answer_content_on_buttons"}}"
                           role="switch"
                           name="switch"
                           data-width="100"
                           data-height="35"
                           data-style="pull-right"
                           data-onstyle="success"
                           data-offstyle="danger"
                           data-on="{{_ "view.answeroptions.free_text_question.onText"}}"
                           data-off="{{_ "view.answeroptions.free_text_question.offText"}}"
                           title="{{_ "view.answeroptions.show_answer_content_on_buttons"}}"
                           class="tabbable">
                </div>
                <div class="col-xs-12 answerOptionConfig" data-intro="{{_ "view.answeroptions.description.show_one_answer_per_row"}}">
                    <p class="text-light checkboxLabel" id="showOneAnswerPerRow">{{_ "view.answeroptions.show_one_answer_per_row"}}</p>
                    <input type="checkbox"
                           id="config_showOneAnswerPerRow_switch"
                           aria-label="{{_ "view.answeroptions.description.show_one_answer_per_row"}}"
                           role="switch"
                           name="switch"
                           data-width="100"
                           data-height="35"
                           data-style="pull-right"
                           data-onstyle="success"
                           data-offstyle="danger"
                           data-on="{{_ "view.answeroptions.free_text_question.onText"}}"
                           data-off="{{_ "view.answeroptions.free_text_question.offText"}}"
                           title="{{_ "view.answeroptions.show_one_answer_per_row"}}"
                           class="tabbable">
                </div>
                {{#if isSurveyQuestion}}
                    <div class="col-xs-12 answerOptionConfig" data-intro="{{_ "view.answeroptions.description.multiple_selection_survey"}}">
                        <p class="text-light checkboxLabel" id="multipleSelectionSurvey">{{_ "view.answeroptions.multiple_selection_survey"}}</p>
                        <input type="checkbox"
                               id="config_multipleSelectionSurvey_switch"
                               aria-label="{{_ "view.answeroptions.description.multiple_selection_survey"}}"
                               role="switch"
                               name="switch"
                               data-width="100"
                               data-height="35"
                               data-style="pull-right"
                               data-onstyle="success"
                               data-offstyle="danger"
                               data-on="{{_ "view.answeroptions.free_text_question.onText"}}"
                               data-off="{{_ "view.answeroptions.free_text_question.offText"}}"
                               title="{{_ "view.answeroptions.multiple_selection_survey"}}"
                               class="tabbable">
                    </div>
                {{/if}}
                <div class="col-xs-12">
                    <p class="text-light text-center" id="emojiInfo">{{{_ "view.answeroptions.emoji_info"}}}</p>
                </div>
            </div>
        </div>
        <div id="previewAnsweroptionContentWrapper" class="hidden-xs hidden-sm col-md-6">
            <div class="center-block" data-intro="{{_ "view.answeroptions.description.preview"}}">
                {{> plain_view}}
                <div id="markdownPreviewWrapper" class="answerWrapper" aria-label="{{_ "view.answeroptions.description.preview"}}">
                    <h2 class="text-center">{{_ "view.answeroptions.preview"}}</h2>
                    {{> votingview data-questionIndex=getQuestionIndex}}
                </div>
            </div>
        </div>
    </div>
</template>
