<!--
* This file is part of ARSnova Click.
* Copyright (C) 2016 The ARSnova Team
*
* ARSnova Click is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* ARSnova Click is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with ARSnova Click.  If not, see <http://www.gnu.org/licenses/>.-->

<template name="nicknameCategories">
    <div class="row nicknameCategories">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 nickCategoryWrapper" role="list">
                    {{#each nickNameCategories}}
                        <div class="nickStyle nickCategory tabbable"
                             role="listitem"
                             id="nickCategory_{{this}}">
                            <p>{{_ this}}</p>
                        </div>
                    {{/each}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 {{#if hasCASConfig}}col-sm-6{{/if}}">
                    <div class="nickStyle" id="block_illegal_nicks_wrapper">
                        <p class="text-light col-xs-12" id="block_illegal_nicks_description">{{_ "view.nickname_categories.block_illegal_nicks"}}</p>
                        <input type="checkbox"
                               id="block_illegal_nicks"
                               aria-labelledby="block_illegal_nicks_description"
                               role="switch"
                               name="switch"
                               data-width="100%"
                               data-height="35"
                               data-style="col-xs-12"
                               data-onstyle="success"
                               data-offstyle="danger"
                               data-on="{{_ "global.yes"}}"
                               data-off="{{_ "global.no"}}"
                               data-toggle="toggle"
                               title="{{_ "view.nickname_categories.block_illegal_nicks"}}"
                               class="tabbable">
                    </div>
                </div>
                {{#if hasCASConfig}}
                    <div class="col-xs-12 col-sm-6 margin-bottom">
                        <div class="nickStyle" id="restrict_to_cas_wrapper">
                            <p class="text-light col-xs-12" id="restrict_to_cas_description">{{_ "view.nickname_categories.restrict_to_cas"}}</p>
                            <input type="checkbox"
                                   id="restrict_to_cas"
                                   aria-labelledby="block_illegal_nicks_description"
                                   role="switch"
                                   name="switch"
                                   data-width="100%"
                                   data-height="35"
                                   data-style="col-xs-12"
                                   data-onstyle="success"
                                   data-offstyle="danger"
                                   data-toggle="toggle"
                                   data-on="{{_ "global.yes"}}"
                                   data-off="{{_ "global.no"}}"
                                   title="{{_ "view.nickname_categories.restrict_to_cas"}}"
                                   class="tabbable">
                        </div>
                    </div>
                {{/if}}
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 margin-bottom">
                    {{#if nickNames}}
                        <h3>{{_ "view.nickname_categories.available_nicknames"}}</h3>
                        <div class="nickStyle nickName {{#if hasSelectedAll}}selectedNickName{{/if}} tabbable"
                             id="select_all">
                            <p>{{_ "view.nickname_categories.choose_all"}}</p>
                        </div>
                    {{/if}}
                    {{#each nickNames}}
                        <div class="nickStyle nickName {{#if isSelectedNick this.nick}}selectedNickName{{/if}} tabbable"
                             id="nickName_{{this._id}}">
                            <p>{{_ this.nick}}</p>
                        </div>
                    {{/each}}
                </div>
                <div class="col-xs-12 col-sm-6" role="list">
                    <h3 role="heading">{{_ "view.nickname_categories.chosen_nicknames"}}</h3>
                    {{#unless chosenNickNames.count}}
                        <div class="nickStyle chosenNickName" id="no_nick_selected" role="listitem">
                            <p>{{_ "view.nickname_categories.no_nicks_selected"}}</p>
                        </div>
                    {{else}}
                        <div class="nickStyle chosenNickName tabbable" role="listitem"
                             id="remove_all">
                            <p>{{_ "view.nickname_categories.remove_all"}}</p>
                        </div>
                    {{/unless}}
                    {{#each chosenNickNames}}
                        <div class="nickStyle chosenNickName tabbable" role="listitem"
                             id="chosen_nickName_{{this._id}}">
                            <p>{{_ this.nick}}</p>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</template>
