<!--
* This file is part of ARSnova Click.
* Copyright (C) 2016 The ARSnova Team
*
* ARSnova Click is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* ARSnova Click is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with ARSnova Click.  If not, see <http://www.gnu.org/licenses/>.-->

<template name="soundConfig">
	<div class="modal {{#unless isMobileDevice}}fade {{/unless}}splashscreen" id="soundModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header"></div>
				<div class="modal-body">
                    <div id="soundTab" class="tabbedPane">
                        <div class="btn-group {{#unless isXsDevice}}btn-group-justified{{/unless}}" data-toggle="buttons" role="group" >
                            <div class="btn-group active">
                                <button type="button" class="btn btn-info btn_panel-switcher" href="#panel-lobby-music" data-toggle="tab">
                                    <span>{{_ "plugins.sound.lobby_music"}}</span>
                                </button>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-info btn_panel-switcher" href="#panel-countdown-running" data-toggle="tab">
                                    <span>{{_ "plugins.sound.running_music"}}</span>
                                </button>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-info btn_panel-switcher" href="#panel-countdown-end" data-toggle="tab">
                                    <span>{{_ "plugins.sound.finish_music"}}</span>
                                </button>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 margin-bottom">
                                    <input type="checkbox"
                                           name="switch"
                                           id="activateDeactivateGlobalVolume"
                                           title="Activate/Deactivate global volume button"
                                           data-toggle="toggle"
                                           data-width="100%"
                                           data-onstyle="success"
                                           data-offstyle="danger"
                                           data-on="{{_ "plugins.sound.global_volume"}}{{_ "plugins.sound.activated"}}"
                                           data-off="{{_ "plugins.sound.global_volume"}}{{_ "plugins.sound.deactivated"}}">
                                </div>
                                <div class="col-xs-12 col-sm-6 margin-bottom">
                                    <div id="slider-global-volume"></div>
                                    <p id="slider-global-volume-description">{{sliderGlobalVolume}} %</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content" role="tabpanel">
                            <div class="tab-pane active" id="panel-lobby-music">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h3>{{_ "plugins.sound.lobby_music_detailed" }}</h3>
                                    </div>
                                    <div class="col-xs-12">
                                        <div id="slider-lobby-music" class="margin-bottom"></div>
                                        <p>{{_ "plugins.sound.volume"}}: {{sliderLobbyMusic}} %</p>
                                    </div>
                                    <div class="col-xs-12">
                                        <select id="lobbySoundSelect" title="soundSelect">
                                            <option value="Song0">Happy & fun mood: "Clear day" | Bensound.com</option>
                                            <option value="Song1">House music: "House" | Bensound.com</option>
                                            <option value="Song2">Gypsy french jazz: "Jazzy frenchy" | Bensound.com</option>
                                            <option value="Song3">Childish: "Little idea" | Bensound.com</option>
                                            <option value="Random">{{_ "plugins.sound.random"}}</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 margin-bottom">
                                                <input type="checkbox"
                                                       name="switch"
                                                       id="playStopLobbyMusic"
                                                       title="Play/Stop Button"
                                                       data-toggle="toggle"
                                                       data-width="100%"
                                                       data-onstyle="success"
                                                       data-offstyle="danger"
                                                       data-on="<span class='glyphicon glyphicon-play'> {{_ "plugins.sound.play"}}"
                                                       data-off="<span class='glyphicon glyphicon-stop'> {{_ "plugins.sound.stop"}}">
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <input type="checkbox"
                                                       name="switch"
                                                       id="activateDeactivateLobbyMusic"
                                                       title="Activate/Deactivate Countdown Running Button"
                                                       data-toggle="toggle"
                                                       data-width="100%"
                                                       data-onstyle="success"
                                                       data-offstyle="danger"
                                                       data-on="{{_ "plugins.sound.active"}}"
                                                       data-off="{{_ "plugins.sound.inactive"}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="panel-countdown-running" role="tabpanel">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h3>{{_ "plugins.sound.running_music_detailed" }}</h3>
                                    </div>
                                    <div class="col-xs-12">
                                        <div id="slider-countdown-running"></div>
                                        <p>{{_ "plugins.sound.volume"}}: {{sliderCountdownRunning}} %</p>
                                    </div>
                                    <div class="col-xs-12">
                                        <select id="countdownRunningSelect" title="soundSelect">
                                            <option value="Song0">Relax mood: "The Lounge" | Bensound.com</option>
                                            <option value="Song1">Ukulele: "Cute" | Bensound.com</option>
                                            <option value="Song2">Driving tune: "Epic" | Bensound.com</option>
                                            <option value="Random">{{_ "plugins.sound.random"}}</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 margin-bottom">
                                                <input type="checkbox"
                                                       name="switch"
                                                       id="playStopCountdownRunningSound"
                                                       title="Play/Stop Button"
                                                       data-toggle="toggle"
                                                       data-width="100%"
                                                       data-onstyle="success"
                                                       data-offstyle="danger"
                                                       data-on="<span class='glyphicon glyphicon-play'> {{_ "plugins.sound.play"}}"
                                                       data-off="<span class='glyphicon glyphicon-stop'> {{_ "plugins.sound.stop"}}">
                                            </div>
                                            <div class="col-xs-12 col-sm-6 margin-bottom">
                                                <input type="checkbox"
                                                       name="switch"
                                                       id="activateDeactivateCountdownRunningSound"
                                                       title="Activate/Deactivate Countdown Running Button"
                                                       data-toggle="toggle"
                                                       data-width="100%"
                                                       data-onstyle="success"
                                                       data-offstyle="danger"
                                                       data-on="{{_ "plugins.sound.active"}}"
                                                       data-off="{{_ "plugins.sound.inactive"}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="panel-countdown-end" role="tabpanel">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h3>{{_ "plugins.sound.finish_music_detailed" }}</h3>
                                    </div>
                                    <div class="col-xs-12">
                                        <div id="slider-countdown-end"></div>
                                        <p>{{_ "plugins.sound.volume"}}: {{sliderCountdownEnd}} %</p>
                                    </div>
                                    <div class="col-xs-12">
                                        <select id="countdownEndSelect" title="soundSelect">
                                            <option value="Song0">{{_ "plugins.sound.whistle"}}</option>
                                            <option value="Song1">Chinese Gong</option>
                                            <option value="Random">{{_ "plugins.sound.random"}}</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 margin-bottom">
                                                <input type="checkbox"
                                                       name="switch"
                                                       id="playStopCountdownEndSound"
                                                       title="Play/Stop Button"
                                                       data-toggle="toggle"
                                                       data-width="100%"
                                                       data-onstyle="success"
                                                       data-offstyle="danger"
                                                       data-on="<span class='glyphicon glyphicon-play'> {{_ "plugins.sound.play"}}"
                                                       data-off="<span class='glyphicon glyphicon-stop'> {{_ "plugins.sound.stop"}}">
                                            </div>
                                            <div class="col-xs-12 col-sm-6 margin-bottom">
                                                <input type="checkbox"
                                                       name="switch"
                                                       id="activateDeactivateCountdownEndSound"
                                                       title="Activate/Deactivate Countdown End Button"
                                                       data-toggle="toggle"
                                                       data-width="100%"
                                                       data-onstyle="success"
                                                       data-offstyle="danger"
                                                       data-on="{{_ "plugins.sound.active"}}"
                                                       data-off="{{_ "plugins.sound.inactive"}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
				<div class="modal-footer">
					<button id="js-btn-hideSoundModal" type="button" class="btn btn-default btn-answerOption btn-lg">
						<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
						<span>{{_ "global.close_window"}}</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</template>

