<template name="leaderboardFooterNavButtons">
    <div class="fixed-bottom col-xs-12 col-sm-10 col-sm-offset-1 col-lg-6 col-lg-offset-3" style="display:block;" role="navigation">
        <div class="row">
            <div class="col-xs-12 col-sm-{{getButtonCols}} margin-bottom">
                <button class="button button-back tabbable"
                        id="js-btn-backToResults">
                    <span class="glyphicon glyphicon-arrow-left glyph-left" aria-hidden="true"></span>
                    <span class="ansBtn">{{_ "global.back"}}</span>
                </button>
            </div>
            {{#unless noLeaderBoardItems}}
                {{#if hasTooMuchButtons}}
                    <div class="col-xs-12 col-sm-{{getButtonCols}} margin-bottom">
                        {{#if hasOverridenDefaultButtonCount }}
                            <button class="button button-success tabbable"
                                    id="showLess">
                                <span class="glyphicon glyphicon-menu-up glyph-left" aria-hidden="true"></span>
                                <span class="ansBtn">{{_ "view.leaderboard.show_less"}}</span>
                            </button>
                        {{else}}
                            <button class="button button-success tabbable"
                                    id="showMore">
                                <span class="ansBtn">{{_ "view.leaderboard.show_more" invisibleResponsesCount count=invisibleResponsesCount}}</span>
                                <span class="glyphicon glyphicon-menu-down glyph-right" aria-hidden="true"></span>
                            </button>
                        {{/if}}
                    </div>
                {{/if}}
            {{/unless}}
            {{#if isOwner}}
                <div class="col-xs-12 col-sm-{{getButtonCols}}">
                    <div class="dropup">
                        <button class="button button-purple tabbable dropdown-toggle" type="button" id="dropdownMenuLeaderboardExport" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-export glyph-right" aria-hidden="true"></span>
                            <span class="ansBtn">{{_ "view.leaderboard.export"}}</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLeaderboardExport">
                            <li><a href="{{getExcelDownloadHref}}" target="_blank">OpenXML Spreadsheet (.xslx)</a></li>
                            <li>{{#with exportCSVData}}<a href="{{this.href}}" download="{{this.name}}">Comma-Separated-Values (.csv)</a>{{/with}}</li>
                        </ul>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
</template>
