/*
 * This file is part of ARSnova Click.
 * Copyright (C) 2016 The ARSnova Team
 *
 * ARSnova Click is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * ARSnova Click is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with ARSnova Click.  If not, see <http://www.gnu.org/licenses/>.*/

@import "appearance";

.navbar-fixed-bottom,
.navbar-fixed-top {
}

.ui-draggable-handle {
  touch-action: auto;
  -ms-touch-action: auto;
}

.modal-backdrop {
  z-index: 1050;
}
.modal {
  z-index: 1100;
}

.center-vertical {
  top: 25%;
  position: absolute;
  width: 70%;
  margin: 0 15%;
}

.center-vertical-non-scrollable {
  position: absolute;
  width: 70%;
  margin: 0 15%;
  top: 50%;
  transform: translateY(-50%);
}

.full-screen-content {
}

.round-corners, .button {
  border-radius: $corner-radius;
}

.slider.noUi-target {
  border: 0;
  box-shadow: none;
  margin-top: 35px;
}

.slider-timer-input {
  text-align: center;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  p {
    margin: 0;
    line-height: 50px;
  }
}

.input-field {
  @media (max-width: 599px) {
    font-size: 18px;
  }
  @media (min-width: 600px) {
    font-size: 1.5em;
  }
  height: 50px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.input-field-bg-color, .input-field {
  border: none;
}

.button {
  height: 50px;
  width: 100%;
  border: none;
  white-space: nowrap;
}

.glyph-left, .glyph-right {
  font-size: 1.5em;
  vertical-align: middle;
  margin-top: -8px;
}

.glyph-right {
  padding-left: 10px;
}

.glyph-left {
  padding-right: 10px;
}

.input-group-letter, .button-result-letter {
  font-size: 2em;
  font-weight: 800;
  min-width: 50px;
  margin-left: 10px;
}

.button-result-letter {
  line-height: 50px;
}

.button:hover, .button:active:focus {
  box-shadow: none;
}

.button-leader {
  box-shadow: none;
  cursor: default;
  span {
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
  }
}

.margin-bottom {
  margin-bottom: 10px;
}

.distance-top {
  margin-top: 20px;
}

.button-result {
  box-shadow: none;
  height: auto;
}

.button-result .percentage {
  position: absolute;
  text-align: center;
  padding: 0 10px;
  line-height: 30px;
  font-weight: bolder;
}

.button-result .progress {
  margin: 10px 10px 0 0;
  position: relative;
  margin-bottom: 10px;
  height: 30px;
}

/*
 * center's the placeholder
 */
.placeholder-align-center, .input-field {
}

.placeholder-align-center::-webkit-input-placeholder, .input-field::-webkit-input-placeholder {
  text-align: center;
}

.placeholder-align-center:-moz-placeholder, .input-field:-moz-placeholder { /* Firefox 18- */
  text-align: center;
}

.placeholder-align-center::-moz-placeholder, .input-field::-moz-placeholder { /* Firefox 19+ */
  text-align: center;
}

.placeholder-align-center:-ms-input-placeholder, .input-field:-ms-input-placeholder {
  text-align: center;
}

.hover-underline:hover {
  text-decoration: underline;
}

.fixed-bottom {
  position: fixed !important;
  display: none;
  left: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 1050;

  &.col-xxs-12 {
    .fixed-bottom-item {
      margin-bottom: 5px;
    }
  }

  .fixed-bottom-item {
    height: 55px;
  }

  .fixed-bottom-item-text {
    display: inline;
  }
}

.content-with-navigation-buttons {
  max-height: calc(100% - 105px);
  overflow-y: auto;
  padding-bottom: 10px;
}

.textarea {
  width: 100%;
  font-size: 1.5em;
  outline: none;
  resize: none;
  padding: 10px;
  border: 0;
}

.previewText {
  width: 100%;
  font-size: 1.5em;
  outline: none;
  resize: none;
  padding: 10px;
  border: 0;
  overflow: auto;
}

.check-mark-checked {
  width: 30px;
}

.check-mark-unchecked {
  font-size: 0.8em;
  width: 30px;
}

.btn-add-remove-ans_opt {
  line-height: 100%;
  width: 50px !important;
  height: 50px !important;
  font-weight: 900;
  font-size: 22px;
  padding: 0;
}

.color-changing-ars, .color-changing-nova, .color-changing-dot, .color-changing-click {
  width: 100px;
  height: 100px;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  font-weight: bold;
}

.popover-title, .popover {
  font-family: $font;
  font-size: medium;

  &.right {
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 550px) {
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6 {
    .ansBtn {
      display: none;
    }
  }
}

.aria-item {
  display: none;
}

* {
  outline: none !important;
}

#slider {
  margin-left: 5px;
}
