/*
 * This file is part of ARSnova Click.
 * Copyright (C) 2016 The ARSnova Team
 *
 * ARSnova Click is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * ARSnova Click is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with ARSnova Click.  If not, see <http://www.gnu.org/licenses/>.*/

@import "appearance";

body {
  font-family: $font;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
}

*:fullscreen,
*:-webkit-full-screen,
*:-moz-full-screen {
  font-family: $font;
}

button {
  font-size: 1.3em;
}

button:focus, input:focus, textarea:focus {
  outline: none;
}

/*
 * cuts off the Placeholder if it is to long for the input filed
 */
/* TODO: if the textfield is focused, the text-overflow will be ignored */
input[placeholder] {
  text-overflow: ellipsis;
}

input::-webkit-input-placeholder {
  text-overflow: ellipsis;
}

/* Firefox 18- */
input:-moz-placeholder {
  text-overflow: ellipsis;
}

/* Firefox 19+ */
input::-moz-placeholder {
  text-overflow: ellipsis;
}

input:-ms-input-placeholder {
  text-overflow: ellipsis;
}

/*Safari on iOS border-radius problems */
input{
  border-radius: 0;
}
/*
 * defines a big X over the whole Button
 */
button:disabled {
  box-shadow: none;
}

.navbar {
  border: 0;
  margin-bottom: 0;
  min-height: inherit;
}

.progress-bar {
  line-height: 100% !important;
  font-size: 17px;
  width: 100%;
  text-align: left;
  position: relative;
  height: 40px;
}

#mainContentContainer {
  height: 100%;
}

.titel-relative {
  cursor: default;
}

.dropup {
  ul {
    background: transparent;
    li {
      a {
        &:hover {
          background: transparent;
        }
      }
    }
  }
}

.test-beta-hint {
  position: fixed;
  bottom: 56px;
  right: 0;
  background: white;
  border-top-left-radius: 100px;
  padding: 20px 20px 20px 50px;

  &.collapsed {
    padding: 0 20px 0 50px;

    a,
    ul {
      display: none;
    }
  }

  button {
    width: 100%;
  }

  h5 {
    text-align: right;
  }

  i {
    color: lightgrey;
    cursor: pointer;
    padding-left: 10px;

    &:hover {
      color: black;
    }
  }
}
